.container-general-consulta {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  margin-bottom: 60px;
}

.text-inicio {
  max-width: 500px;
}

.title-1 {
  font-size: 30px;
  margin: 10px 0;
}

.consulta {
  margin: 10px 0;
}

.p-consulta {
  margin: 10px 0;
  font-size: 20px;
}

.container-consulta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}



.responsive {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.img-consulta {
  box-shadow: $box-shadow;
}



.buttonn {
  box-sizing: border-box;
  display: flex;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 600;
  color: #0E0706;
  background-color: #D1807E;
  border: none;
  border-radius: 12px;
  box-shadow: 5px 0 15px rgb(0 0 0 / 20%);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 17px 0;
  align-items: center;
  padding-left: 20px;
}

.buttonn:hover {
  background-color: $rosa-claro;
  box-shadow: $box-shadow;
  color: $negro;
  transform: translateY(-1px);
}

.buttonn:active {
  transform: translateY(-1px);
}

.container-img-inicio {
  display: flex;
  justify-content: center;
  align-items: center;
}





.img-inicio {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}
.section-cards{
  display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.section-cards2{
  display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.container-general-cards{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 900px;
  z-index: -2;
}
.container-cards-inicio {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
  max-width: 350px;
  height: 170px;

  background: #FEEEEC;;
  box-shadow: $box-shadow;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.img-card{
  margin-right: 10px;
  margin-left: 10px;
}
.title-card-inicio{
  font-size: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
}
.text-card-inicio {
  font-weight: 500;
  margin: 0 10px 0;
  font-size: 12px;
}

.container-general-h2{
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}


.text-h2-inicio{
  font-weight: 400;
  font-size: 27px;
}




.container-title-testimonios{
  margin-bottom: 40px;
  display: flex;
    justify-content: center;
}

.centrador-cards{
  display: flex;
  justify-content: center;
}
.container-cards{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1430px;

}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.review-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.review-card {
  max-width: 340px;
  min-height: 200px;
  min-width: 340px;
  padding: 5px;
  margin: 10px;
}

.content-review-card {
  display: flex;
  justify-content: space-between;
  padding: 5px;


}

.click-reseña {
  font-size: 22px;
  font-weight: 600;
}

.review-card-user {
  display: flex;
  align-items: center;

}

.review-card-img {
  width: 55px;
  border-radius: 50%;
}

.review-card-name {
  font-size: 20px;
  margin-left: 10px;
  font-weight: 500;

}


.text-review-content {
  padding: 5px;
  font-size: 16px;
  font-weight: 400;
}