// Classes set via JS
$accordionClass: ".collapse-init";
$panelClass: ".panel-active";
$contentsClass: "summary + *";


.container-general-card{
  display: flex;
  padding: 10px;
  justify-content: center;
  padding: 10px;
}

.containter-p-tratamientos{
  z-index: -999;
  max-width: 400px;
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: $box-shadow;
  backdrop-filter: blur( 2.5px );
  -webkit-backdrop-filter: blur( 2.5px );
  border-radius: $border-radius;
  margin-top: -78px;
  padding: 20px;
}
.p-tratamientos{
  font-size: 18px;
    font-weight: 500;
}


















#{$accordionClass $contentsClass} {
  transition: all 0.25s ease-in-out;
  overflow: hidden; // because we're animating height
}
 
.container2{
padding: 10px;

}

 #{$accordionClass} :not(#{$panelClass}) #{$contentsClass} {
  height: 0;
  opacity: 0;
  transform: scale(0.9);
  transform-origin: bottom center;
} 

.collapse-init summary + * {
  transition: all 0.25s ease-in-out;
  overflow: hidden;
}



.collapse-init :not(.panel-active) summary + * {
  height: 0;
  opacity: 0;
  transform: scale(0.9);
  transform-origin: bottom center;
}

.collapse-init summary {
  list-style: none;
}
.collapse-init summary::-webkit-details-marker {
  display: none;
}
.collapse-init summary::before {
  display: none;
}
.collapse-init summary {
  cursor: pointer;
}


.details-styling {
  padding: 1em;
}

//======= Non-essential page styling, ignore
$hue: 260;

$background: hsl($hue, 90, 98);
$text: hsl($hue, 20, 25);

$primary: hsl($hue, 85, 50);
$link: hsl($hue, 75, 65);
$border: hsl($hue, 20, 85);





p {
  margin-top: 0;
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }
}


[type="checkbox"] {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;

  + label {
    background: lighten($primary, 45);
    border-left: 4px solid $primary;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    text-align: left;
    transition: 0.1s;
    padding: 0.75em 1em;

    &::before {
      border: 2px solid;
      border-radius: 2px;
      color: $primary;
      content: "";
      display: inline-block;
      margin-right: 0.75ch;
      transition: 0.1s;
      width: 1ch;
      height: 1ch;
      vertical-align: baseline;
    }
  }

  &:focus + label {
    outline: 2px solid $primary;
  }

  &:checked + label::before {
    background: currentColor;
    box-shadow: inset 0 0 0 2px #fff;
  }
}



//==== Accordion element styling
details {
  $b: 6px;

  background: none;
  border: none;
  border-bottom: 0;
  list-style: none;

  &:first-child {
    border-radius: $b $b 0 0;
  }

  &:last-child {
    border-bottom: none;
    border-radius: none;
  }
}

summary {
  $arrow-size: 0.5em;

 
  transition: 0.2s;
  font-weight: 700;
  padding: 1em;

  &:focus {
    outline: none;
  }

  #{$accordionClass} &::after {
    margin-left: 40px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    content: "";
    float: right;
    width: $arrow-size;
    height: $arrow-size;
    /* margin-top: $arrow-size/2; */
    transform: rotate(45deg);
    transition: inherit;
  }

  [open] & {
    text-align: center;
    background:none;
    color: $negro;

    &::after {
      margin-top: $arrow-size;
      transform: rotate(225deg);
    }
  }
}
.container-general-acordeones{
  display: flex;
  
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}
.container-acordeon{
  margin-bottom: 20px;
  
  display: flex;
    flex-direction: column;
    align-items: center;
    /* background: rgba( 255, 255, 255, 0.1 );
    box-shadow: $box-shadow;
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: $border-radius; */
    max-width: 1000px;
}


.container-img-acordeon{
  padding-top: 20px;
}
.img-acordeon{
  width: 330px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  
}

