@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500|Jost:400,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Arvo");
.container-general-consulta {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  margin-bottom: 60px;
}

.text-inicio {
  max-width: 500px;
}

.title-1 {
  font-size: 30px;
  margin: 10px 0;
}

.consulta {
  margin: 10px 0;
}

.p-consulta {
  margin: 10px 0;
  font-size: 20px;
}

.container-consulta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.responsive {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.img-consulta {
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
}

.buttonn {
  box-sizing: border-box;
  display: flex;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 600;
  color: #0E0706;
  background-color: #D1807E;
  border: none;
  border-radius: 12px;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 17px 0;
  align-items: center;
  padding-left: 20px;
}

.buttonn:hover {
  background-color: #FBBAB0;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
  color: #0E0706;
  transform: translateY(-1px);
}

.buttonn:active {
  transform: translateY(-1px);
}

.container-img-inicio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-inicio {
  border-radius: 0.4em;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
}

.section-cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.section-cards2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.container-general-cards {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 900px;
  /* z-index: -2; */
}

.container-cards-inicio {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
  max-width: 350px;
  height: 170px;
  background: #FEEEEC;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.img-card {
  margin-right: 10px;
  margin-left: 10px;
}

.title-card-inicio {
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.text-card-inicio {
  font-weight: 500;
  margin: 0 10px 0;
  font-size: 12px;
}

.container-general-h2 {
  display: flex;
  justify-content: center;
}

.text-h2-inicio {
  font-weight: 400;
  font-size: 27px;
}

.container-title-testimonios {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.centrador-cards {
  display: flex;
  justify-content: center;
}

.container-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1430px;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.review-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.review-card {
  max-width: 340px;
  min-height: 200px;
  min-width: 340px;
  padding: 5px;
  margin: 10px;
}

.content-review-card {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.click-reseña {
  font-size: 22px;
  font-weight: 600;
}

.review-card-user {
  display: flex;
  align-items: center;
}

.review-card-img {
  width: 55px;
  border-radius: 50%;
}

.review-card-name {
  font-size: 20px;
  margin-left: 10px;
  font-weight: 500;
}

.text-review-content {
  padding: 5px;
  font-size: 16px;
  font-weight: 400;
}

.card {
  max-width: 340px;
  margin: auto;
  overflow-y: auto;
  position: relative;
  /* z-index: 1; */
  overflow-x: hidden;
  background-color: #FEEEEC;
  display: flex;
  transition: 0.3s;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
}

.card[data-state="#about"] {
  height: 450px;
}
.card[data-state="#about"] .card-main {
  padding-top: 0;
}

.card[data-state="#contact"] {
  height: 430px;
}

.card[data-state="#experience"] {
  height: 550px;
}

.card.is-active .card-header {
  height: 80px;
}
.card.is-active .card-cover {
  height: 100px;
  top: -50px;
}
.card.is-active .card-avatar {
  transform: none;
  left: 20px;
  width: 50px;
  height: 50px;
  bottom: 10px;
}
.card.is-active .card-fullname,
.card.is-active .card-jobtitle {
  left: 86px;
  transform: none;
}
.card.is-active .card-fullname {
  bottom: 18px;
  font-size: 19px;
}
.card.is-active .card-jobtitle {
  bottom: 16px;
  letter-spacing: 1px;
  font-size: 10px;
}

.card-header {
  position: relative;
  display: flex;
  height: 200px;
  flex-shrink: 0;
  width: 100%;
  transition: 0.3s;
}
.card-header * {
  transition: 0.3s;
}

.card-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  height: 160px;
  top: -20%;
  left: 0;
  will-change: top;
  background-size: cover;
  background-position: center;
  /* filter: blur(30px); */
  transform: scale(1.2);
  transition: 0.5s;
}

.card-avatar {
  width: 100px;
  height: 100px;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-64px);
}

.card-fullname {
  position: absolute;
  bottom: 0;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  transform: translateY(-10px) translateX(-50%);
  left: 50%;
}

.card-jobtitle {
  position: absolute;
  bottom: 0;
  font-size: 11px;
  white-space: nowrap;
  font-weight: 500;
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-7px);
}

.card-main {
  position: relative;
  flex: 1;
  display: flex;
  padding-top: 10px;
  flex-direction: column;
}

.card-subtitle {
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 8px;
}

.card-content {
  padding: 20px;
}

.card-desc {
  line-height: 1.6;
  color: #636b6f;
  font-size: 14px;
  margin: 0;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
}

.card-social {
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 30px;
}
.card-social svg {
  fill: rgb(165, 181, 206);
  width: 16px;
  display: block;
  transition: 0.3s;
}
.card-social a {
  color: #8797a1;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  background-color: rgba(93, 133, 193, 0.05);
  border-radius: 50%;
  margin-right: 10px;
}
.card-social a:hover svg {
  fill: #637faa;
}
.card-social a:last-child {
  margin-right: 0;
}

.card-buttons {
  display: flex;
  background-color: #fff;
  margin-top: auto;
  position: sticky;
  bottom: 0;
  left: 0;
}
.card-buttons button {
  flex: 1 1 auto;
  user-select: none;
  background: 0;
  font-size: 13px;
  border: 0;
  padding: 15px 5px;
  cursor: pointer;
  color: #5c5c6d;
  transition: 0.3s;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  outline: 0;
  border-bottom: 3px solid transparent;
}
.card-buttons button.is-active, .card-buttons button:hover {
  color: #D1807E;
  border-bottom: 3px solid #E29698;
  background: linear-gradient(to bottom, rgba(127, 199, 231, 0) 0%, rgba(207, 204, 255, 0.2) 44%, rgba(211, 226, 255, 0.4) 100%);
}

.card-section {
  display: none;
}
.card-section.is-active {
  display: block;
  animation: fadeIn 0.6s both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translatey(40px);
  }
  100% {
    opacity: 1;
  }
}
.card-timeline {
  margin-top: 30px;
  position: relative;
}
.card-timeline:after {
  background: #FBBAB0;
  content: "";
  left: 42px;
  width: 2px;
  top: 0;
  height: 100%;
  position: absolute;
  content: "";
}

.card-item {
  position: relative;
  padding-left: 60px;
  padding-right: 20px;
  padding-bottom: 30px;
  /* z-index: 1; */
}
.card-item:last-child {
  padding-bottom: 5px;
}
.card-item:after {
  content: attr(data-year);
  width: 10px;
  position: absolute;
  top: 0;
  left: 37px;
  width: 8px;
  height: 8px;
  line-height: 0.6;
  border: 2px solid #fff;
  font-size: 11px;
  text-indent: -35px;
  border-radius: 50%;
  color: rgba(134, 134, 134, 0.7);
  background: #D1807E;
}

.card-item-title {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 5px;
}

.card-item-desc {
  font-size: 13px;
  color: #6f6f7b;
  line-height: 1.5;
  font-family: "DM Sans", sans-serif;
}

.card-contact-wrapper {
  margin-top: 20px;
}

.card-contact {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #6f6f7b;
  font-family: "DM Sans", sans-serif;
  line-height: 1.6;
  cursor: pointer;
}
.card-contact + .card-contact {
  margin-top: 16px;
}
.card-contact svg {
  flex-shrink: 0;
  width: 30px;
  min-height: 34px;
  margin-right: 12px;
  transition: 0.3s;
  padding-right: 12px;
  border-right: 1px solid #dfe2ec;
}

.contact-me {
  border: 0;
  outline: none;
  background: #D1807E;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  color: #fff;
  padding: 12px 16px;
  width: 100%;
  border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  font-family: "Jost", sans-serif;
  transition: 0.3s;
}

.h1-instalaciones {
  margin-bottom: 10px;
}

.message {
  border: 1px solid #d2d0d0;
  padding: 2em;
  font-size: 1.7vw;
  box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
}
@supports (display: grid) {
  .message {
    display: none;
  }
}

.section2 {
  margin-top: -70px;
  display: none;
  padding: 2rem;
}
@media screen and (min-width: 768px) {
  .section2 {
    padding: 4rem;
  }
}
@supports (display: grid) {
  .section2 {
    display: block;
  }
}

.grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: row dense;
}

.item {
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #0c9a9a;
  color: #fff;
  grid-column-start: auto;
  grid-row-start: auto;
  color: #fff;
  background: url("https://images.unsplash.com/photo-1470124182917-cc6e71b22ecc?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");
  background-size: cover;
  background-position: center;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  counter-increment: item-counter;
}
.item:nth-of-type(3n) {
  background-image: url("https://images.unsplash.com/photo-1422255198496-21531f12a6e8?dpr=2&auto=format&fit=crop&w=1500&h=996&q=80&cs=tinysrgb&crop=");
}
.item:nth-of-type(4n) {
  background-image: url("https://images.unsplash.com/photo-1490914327627-9fe8d52f4d90?dpr=2&auto=format&fit=crop&w=1500&h=2250&q=80&cs=tinysrgb&crop=");
}
.item:nth-of-type(5n) {
  background-image: url("https://images.unsplash.com/photo-1476097297040-79e9e1603142?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");
}
.item:nth-of-type(6n) {
  background-image: url("https://images.unsplash.com/photo-1464652149449-f3b8538144aa?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");
}
.item:after {
  border-radius: 10px;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}
.item:hover {
  transform: scale(1.05);
}
.item:hover:after {
  opacity: 0;
}
.item--medium {
  grid-row-end: span 2;
}
.item--large {
  grid-row-end: span 3;
}
.item--full {
  grid-column-end: auto;
}
@media screen and (min-width: 768px) {
  .item--full {
    grid-column: 1/-1;
    grid-row-end: span 2;
  }
}
.item__details {
  position: relative;
  /* z-index: 1; */
  padding: 15px;
  color: #444;
  background: #fff;
  text-transform: lowercase;
  letter-spacing: 1px;
  color: #828282;
}
.item__details:before {
  content: counter(item-counter);
  font-weight: bold;
  font-size: 1.1rem;
  padding-right: 0.5em;
  color: #444;
}

.container-general-card {
  display: flex;
  padding: 10px;
  justify-content: center;
  padding: 10px;
}

.containter-p-tratamientos {
 /*  z-index: -999; */
  max-width: 400px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 0.4em;
  margin-top: -78px;
  padding: 20px;
}

.p-tratamientos {
  font-size: 18px;
  font-weight: 500;
}

.collapse-init summary + * {
  transition: all 0.25s ease-in-out;
  overflow: hidden;
}

.container2 {
  padding: 10px;
}

.collapse-init :not(.panel-active) summary + * {
  height: 0;
  opacity: 0;
  transform: scale(0.9);
  transform-origin: bottom center;
}

.collapse-init summary + * {
  transition: all 0.25s ease-in-out;
  overflow: hidden;
}

.collapse-init :not(.panel-active) summary + * {
  height: 0;
  opacity: 0;
  transform: scale(0.9);
  transform-origin: bottom center;
}

.collapse-init summary {
  list-style: none;
}

.collapse-init summary::-webkit-details-marker {
  display: none;
}

.collapse-init summary::before {
  display: none;
}

.collapse-init summary {
  cursor: pointer;
}

.details-styling {
  padding: 1em;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}
p:last-child {
  margin-bottom: 0;
}

[type=checkbox] {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}
[type=checkbox] + label {
  background: #efe7fd;
  border-left: 4px solid hsl(260deg, 85%, 50%);
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
  transition: 0.1s;
  padding: 0.75em 1em;
}
[type=checkbox] + label::before {
  border: 2px solid;
  border-radius: 2px;
  color: hsl(260deg, 85%, 50%);
  content: "";
  display: inline-block;
  margin-right: 0.75ch;
  transition: 0.1s;
  width: 1ch;
  height: 1ch;
  vertical-align: baseline;
}
[type=checkbox]:focus + label {
  outline: 2px solid hsl(260deg, 85%, 50%);
}
[type=checkbox]:checked + label::before {
  background: currentColor;
  box-shadow: inset 0 0 0 2px #fff;
}

details {
  background: none;
  border: none;
  border-bottom: 0;
  list-style: none;
}
details:first-child {
  border-radius: 6px 6px 0 0;
}
details:last-child {
  border-bottom: none;
  border-radius: none;
}

summary {
  transition: 0.2s;
  font-weight: 700;
  padding: 1em;
}
summary:focus {
  outline: none;
}
.collapse-init summary::after {
  margin-left: 40px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  content: "";
  float: right;
  width: 0.5em;
  height: 0.5em;
  /* margin-top: $arrow-size/2; */
  transform: rotate(45deg);
  transition: inherit;
}
[open] summary {
  text-align: center;
  background: none;
  color: #0E0706;
}
[open] summary::after {
  margin-top: 0.5em;
  transform: rotate(225deg);
}

.container-general-acordeones {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.container-acordeon {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: rgba( 255, 255, 255, 0.1 );
  box-shadow: $box-shadow;
  backdrop-filter: blur( 0px );
  -webkit-backdrop-filter: blur( 0px );
  border-radius: $border-radius; */
  max-width: 1000px;
}

.container-img-acordeon {
  padding-top: 20px;
}

.img-acordeon {
  width: 330px;
  border-radius: 0.4em;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
}

#testimonios {
  padding-top: 120px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  font-family: "Raleway", sans-serif;
  color: none;
}

/* fondo pag */
body {
  background-image: url(./images/fondo/wickedbackground.svg);
  background-attachment: fixed, scroll;
  background-size: cover;
  background-color: none !important;
  position: relative;
}

a {
  color: #0E0706;
}

/* scrollbar */
body::-webkit-scrollbar {
  width: 0.6rem;
}

body::-webkit-scrollbar-track {
  background: #FBBAB0;
}

body::-webkit-scrollbar-thumb {
  background: #E29698;
  border-radius: 0.4em;
}

body::-webkit-scrollbar-thumb:hover {
  background: #D1807E;
  animation-duration: 1s;
}

/* navbar and footer css */
.header {
  background-color: #D1807E;
  position: sticky;
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom-style: solid;
  border-color: #0E0706;
  height: auto;
  top: 0;
  left: 0;
 /*  z-index: 2; */
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.nav-link {
  color: #0E0706;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 3px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  padding: 0 40px;
  letter-spacing: 4px;
  text-transform: uppercase;
  gap: 10px;
}

.nav-menu {
  display: flex;
  /* margin-right: 40px; */
  list-style: none;
  align-items: center;
}

.uit {
  color: #0E0706;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active {
  color: #0E0706;
  transition: 0.4s;
}

.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;
  display: none;
}

/* MOBILE */
@media (min-width: 1400px) {
  .nav-container-social {
    display: none;
  }

  .mobile {
    display: none;
  }
}
@media (max-width: 1400px) {
  .desktop {
    display: initial;
  }

  .nav-container-social {
    position: absolute;
    bottom: 40px;
  }

  .nav-social-icon {
    font-size: 40px;
  }

  .nav-social-ul {
    width: 300px;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .social {
    display: none;
  }

  .social ul {
    display: none;
  }

  .social ul li {
    display: none;
  }

  .social ul li:hover {
    display: none;
  }

  .social ul li:hover a {
    display: none;
  }

  .social ul li:hover i {
    display: none;
  }

  .social ul li i {
    display: none;
  }

  #contacto {
    height: 100%;
  }

  .header {
   /*  z-index: 999; */
    height: 80px;
    background-color: #D1807E;
    position: sticky;
  }

  .logo {
    font-size: 20px;
    font-weight: 700;
    padding: 0 16px;
    text-transform: uppercase;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #D1807E;
    position: fixed;
    top: 80px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
   /*  z-index: 999; */
  }

  .nav-menu-item {
    line-height: 70px;
  }

  .nav-menu-link:hover {
    background: none;
    color: #0E0706;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    left: 0;
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }
}
/* footer */
.fondo-footer {
  /* background-image:url(/images/footer/wave.svg); */
 /*  z-index: 1; */
  background-size: cover;
  clip-path: polygon(0 0%, 100% 20%, 100% 100%, 0% 100%);
  background-color: #D1807E;
  /* z-index: -2; */
  position: relative;
}

.container-general-footer {
  margin-top: 50px;
}

.container-3partes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer-1-container {
  margin-top: 40px;
}

.footer-1-logo-p {
  padding: 20px;
}

.title-footer-1 {
  font-weight: 600;
  margin-top: 15px;
  font-size: 18px;
}

.text-footer-1-grl {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  list-style: none;
}

.text-footer-1 {
  margin: 11px 0;
}

.footer-1-contacto {
  margin: 30px 0px;
}

.footer-2-container {
  margin-top: 70px;
  padding: 20px;
}

.list-footer2 {
  padding: 5px;
}

.li-footer2 {
  font-size: 16px;
  font-weight: 500;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: center;
}

.footer-3-container {
  margin-top: 44px;
  padding: 20px;
}

.footer-3-container-li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.uil {
  padding: 6px 20px;
  font-size: 40px;
  color: #0E0706;
}

.copy {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
